

- if user_signed_in?
  %dl
    %dt Twitter ID
    %dd #{current_user.screen_name}
    %dt 投票内容
    %dd #{current_user.vote.try(:title) || "未設定"}

  = link_to '変更', edit_users_path, class: 'btn btn-lg btn-secondary'
- else
  = link_to user_twitter_omniauth_authorize_path, class: 'btn btn-lg btn-primary' do
    Twitterでログイン
