= form_for current_user, url: users_path do |f|
  .form-group.row
    %label.col-sm-2.col-form-label Twitter ID
    .col-sm-10 #{current_user.screen_name}
  .form-group.row
    %label.col-sm-2.col-form-label 投票内容
    .col-sm-10
      = f.select :vote_id, Vote.all.map {|x| [x.title, x.id]}, { include_blank: true }, class: 'custom-select'
  .text-center
    = f.submit '保存', class: 'btn btn-lg btn-success'
